/*---------------------*\
  #Reset 
\*----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/*---------------------*\
  #Colors 
\*----------------------*/
:root {
  --orange-color: #df5b26;
  --white-color: #ffffff;
  --black-color: #252526;
  --dark-black-color: #111111;
  --pure-black-color: #000000;
  --gray-color: #c6cacf;
  --red-color: #ff2f04;
  --yellow-color: #ffff04;
  --blue-color: #05b7e6;
  --violet-color: #ec73ec;
}

/*---------------------*\
  #Reusable 
\*----------------------*/
img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 100%;
  margin-inline: 0.75rem;
}

.container-fluid {
  max-width: 100%;
}
.grid-container-2 > div,
.grid-container-3 > div,
.grid-container-4 > div {
  /* background-color: var(--orange-color); */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

/*---------------------*\
  #Buttons 
\*----------------------*/
.button-orange {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  padding: 10px;
  color: var(--white-color);
}
.button-orange:hover{
  background-color: transparent;
  color: var(--white-color);
}
.button-outline-orange {
  background-color: transparent;
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  padding: 10px;
  color: var(--orange-color);
}
.button-outline-orange:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
}

/*---------------------*\
  #Header 
\*----------------------*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  padding: 1.50rem;
  background-color: var(--black-color);
  position: fixed;
  width: 100%;
  z-index: 10;
}
.logo,
.mode,
.links{
  margin-inline: 1.25rem;
  cursor: pointer;
}
.mode i{
  font-size: 1.50rem;
}
.header .links ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .links ul li a{
  margin-inline: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white-color);
  transition: 2s ease;
}
.header .links button{
  background-color: transparent;
  padding: .50rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--white-color);
  font-weight: 600;
  font-size: 1rem;
  color: var(--white-color);
  transition: 2s ease;
}
.header .links button:hover{
  color: var(--dark-black-color);
  background-color: var(--white-color);
}

.header .menu{display: none;}
header .toggle-menu{display: none;}
/*---------------------*\
  #Body 
\*----------------------*/
body {
  background-color: var(--black-color);
  color: var(--white-color);
  transition: 2s ease;
  
}
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.homes{
  display: block;
}
.home .grid-container-2{
  display: flex;
  justify-content: center;
  align-items: start;
}
.home .grid-container-2 .message .intro{
  display: inline-block;
  max-width: 100%;
}
.home .grid-container-2 .message .intro span{
  /* color: var(--black-color); */
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.10rem;
  /* -webkit-text-stroke-color: black; */
}
.home .grid-container-2 .message .intro :is(h1){
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
.home .grid-container-2 .message .intro :is(p){
  margin-bottom: 1rem;
  font-size: 1.20rem;
  color: var(--gray-color);
  font-weight: 550;
  display: inline-block;
  max-width: 60%;
}
.home .grid-container-2 .message .social :is(i){
  font-size: 1.50rem;
  padding-right: 0.50rem;
}
.profile{
  max-width: 100%;
  height: 20rem;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;
}
.home .grid-container .programming{
  display: flex;
  justify-content: start;
  align-items: center;
}
.home .grid-container .programming img{
  max-width: 100%;
  height: 2rem;
  object-fit: cover;
  padding-inline: 1.50rem;
}
.home .grid-container-2,
.home .grid-container{
  margin-inline: 2.50rem;
}

/*---------------------*\
  #About 
\*----------------------*/
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.about .grid-container-2{
  display: flex;
  justify-content: center;
  align-items: start;
}
.about .grid-container-2 img{
  height: 20rem;
  border-radius: 1rem;
}
.about .grid-container-2 .item-2{
  position: relative;
   max-width: 31%; 
}
.about .grid-container-2 .item-2 h5{
  color: var(--blue-color);
  font-weight: 600;
  font-size: 1rem;
}
.about .grid-container-2 .item-2 h4{
  font-weight: 600;
  font-size: 1.10rem;
  margin-block: 1rem
}
.about .grid-container-2 .item-2 p{
  font-size: 1rem;
  line-height: 2rem;
}


/*---------------------*\
  #Light Mode 
\*----------------------*/
body.light-mode{
  background-color: var(--white-color);
  color: var(--dark-color);
  transition: 2s ease;
}
body.light-mode .header{
  background-color: var(--white-color);
}
body.light-mode .header .links ul li a{
  margin-inline: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black-color);
  transition: 2s ease;
}
body.light-mode .header .links button{
  background-color: transparent;
  padding: .50rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--black-color);
  font-weight: 600;
  font-size: 1rem;
  color: var(--black-color);
  transition: 1s ease;
}
.profile{filter: drop-shadow(0px 0px 1rem var(--black-color));}
body.light-mode header .toggle-menu ul li a{color: var(--pure-black-color);transition: 1s ease;}
body.light-mode header .toggle-menu button{
  color: var(--pure-black-color);
  border: 1px solid var(--pure-black-color);
  transition: 1s ease;
}
body.light-mode header .toggle-menu{background-color:rgba(136, 135, 135, 0.2);transition: 1s ease;}

/*---------------------*\
  #End Light Mode 
\*----------------------*/



/*---------------------*\
  #Media Queries 
\*----------------------*/

/* Tablets and larger screens (e.g., iPad) */
@media (max-width: 1024px) {
/*---------------------*\
  #Header 
\*----------------------*/
.header .links{display: none;}
.header .menu{
  display: block;
  font-size: 1.50rem;
}

header .toggle-menu{
  display: none;
  /* background-color: var(--gray-color); */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  position: absolute;
  text-align: center;
  top: 3.50rem;
  right: 2rem;
  padding-inline: 10rem;
  padding-block: 1rem;
  border-radius: 1rem;
  transition: 0.5s ease;
  /* transition-delay: 1s; */
}

header .toggle-menu.open{
  display: block;
  transition: 0.5s ease;
  /* transition-delay: 1s; */
}

header .toggle-menu ul li {
  padding-block: 0.30rem;
}

header .toggle-menu ul li a{
  color: var(--white-color);
  font-weight: 600;
  cursor: pointer;
}

header .toggle-menu ul li button{
  width: 100%;
  background-color: transparent;
  padding: .50rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--white-color);
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--white-color);
}

/*---------------------*\
  #Body 
\*----------------------*/
#home{
  position: relative;
  z-index: -1;
}
.home .grid-container-2 .message .intro :is(h1){
  margin-bottom: 0.50rem;
  font-size: 2.45rem;
}
.home .grid-container-2 .message .intro :is(p){
  margin-block: 0.50rem;
  font-size: 1.45rem;
}
.home .grid-container .programming img{
  padding-inline: 1em;
}
.home .grid-container-2,
.home .grid-container{
  margin-inline: 2.50rem;
}

}

/*---------------------*\
  #End for 1024 Media Queries 
\*----------------------*/

/* Mobile phones and smaller screens */
@media (max-width: 768px) {
/*---------------------*\
  #Header 
\*----------------------*/
header .toggle-menu{
  position: absolute;
  margin-inline: 1rem;
  top: 2;
  right: 0;
}
header .toggle-menu{
  padding-inline: 7rem;
}
/*---------------------*\
  #Home 
\*----------------------*/
.home .grid-container-2{
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5.50rem;
}
.home .grid-container-2 .item-1,
.home .grid-container-2 .item-2{
  text-align: center;
  margin-block: 1rem;
}
.home .grid-container .programming{
  text-align: center;
  display: block;
}
.home .grid-container .programming :is(h4,img){
  margin-block: 0.50rem;
}

}

/*---------------------*\
  #End for 768 Media Queries 
\*----------------------*/

@media (max-width: 480px) {}
