/*---------------------*\
  #Reset 
\*----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/*---------------------*\
  #Colors 
\*----------------------*/
:root {
  --orange-color: #df5b26;
  --white-color: #ffffff;
  --black-color: #252526;
  --dark-black-color: #111111;
  --pure-black-color: #000000;
  --gray-color: #bcbcbc;
  --red-color: #ff2f04;
  --yellow-color: #ffff04;
  --blue-color: #05b7e6;
  --violet-color: #ec73ec;
}

/*---------------------*\
  #Reusable 
\*----------------------*/
img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 100%;
  margin-inline: 0.75rem;
}

.container-fluid {
  max-width: 100%;
}
.grid-container-2 > div,
.grid-container-3 > div,
.grid-container-4 > div {
  /* background-color: var(--orange-color); */
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

/*---------------------*\
  #Buttons 
\*----------------------*/
.button-orange {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  padding: 10px;
  color: var(--white-color);
}
.button-orange:hover{
  background-color: transparent;
  color: var(--white-color);
}
.button-outline-orange {
  background-color: transparent;
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  padding: 10px;
  color: var(--orange-color);
}
.button-outline-orange:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
}

/*---------------------*\
  #Header 
\*----------------------*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  padding: 1.50rem;
}
.logo,
.mode{
  padding-inline: 1rem;
  cursor: pointer;
}
.mode i{
  font-size: 1.50rem;
}
.header .links ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .links ul li a{
  margin-inline: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white-color);
  transition: 2s ease;
}
.header .links button{
  background-color: transparent;
  padding: .50rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--white-color);
  font-weight: 600;
  font-size: 1rem;
  color: var(--white-color);
  transition: 2s ease;
}
.header .links button:hover{
  color: var(--dark-black-color);
  background-color: var(--white-color);
}


/*---------------------*\
  #Body 
\*----------------------*/
body {
  background-color: var(--black-color);
  color: var(--white-color);
  transition: 2s ease;
}
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}
.homes{
  display: block;
}
.home .grid-container-2{
  display: flex;
  justify-content: center;
  align-items: start;
}
.home .grid-container-2 .message .intro{
  display: inline-block;
  max-width: 100%;
}
.home .grid-container-2 .message .intro :is(h1){
  margin-block: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
.home .grid-container-2 .message .intro :is(p){
  margin-block: 1rem;
  font-size: 1.20rem;
  color: var(--gray-color);
  font-weight: 550;
  display: inline-block;
  max-width: 50%;
  
  
}
.home .grid-container-2 .message .social :is(i){
  font-size: 1.50rem;
  padding-right: 0.25rem;
}
.profile{
  max-width: 100%;
  height: 20rem;
  border-radius: 50%;
}

/*---------------------*\
  #Light Mode 
\*----------------------*/
body.light-mode{
  background-color: var(--white-color);
  color: var(--dark-color);
  transition: 2s ease;
}
body.light-mode .header .links ul li a{
  margin-inline: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black-color);
  transition: 2s ease;
}
body.light-mode .header .links button{
  background-color: transparent;
  padding: .50rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid var(--black-color);
  font-weight: 600;
  font-size: 1rem;
  color: var(--black-color);
  transition: 1s ease;
}
/*---------------------*\
  #Media Queries 
\*----------------------*/

/* Tablets and larger screens (e.g., iPad) */
@media (max-width: 1024px) {
 /*---------------------*\
  #Header 
\*----------------------*/
}

/* Mobile phones and smaller screens */
@media (max-width: 768px) {
/*---------------------*\
  #Header 
\*----------------------*/
  
}
